html{
    font-family: sans-serif;
}

body{
    background-color: #252422;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 95vw;
}

h1{
    font-size: 4em;
    color: #f1f7ee;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 95vw;
    font-size: small;
    background-color: #f1f7ee;
    color:#252422;
}